.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4ade80; /* verde */
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    animation: slideIn 0.4s ease;
  }
  .toast button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
  }
  
  .toast.error {
    background-color: #f87171;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .toast {
      width: 80%;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 10px;
      padding: 1rem 1rem;
      margin: 0 auto;
    }
  }