.footer {
    background: #1e1e1e;
    color: #ccc;
    text-align: center;
    padding: 1rem;
    a{
        color: #2563eb;
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1.2rem;
        &:hover {
            color: #2563eb;
        }
    }
    .heart{
        color: #ff0000;
        font-size: 1.2rem;
    }
    .github{
        color: #ffffff;
        font-size: 1.2rem;
    }
}
  